body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weight-container,
.height-container {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    gap: 10px;

}